/* 
General Styling 
*/

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #FFF;
}

h1 {
  font-family: 'Rock Salt', 'Brush Script MT', cursive;
  font-size: 150%;
}

a {
  color: #800080;
}

/*
Styling specific to the Punk Bands table.
*/

table {
  font-size: 80%;
  border: 2px solid #800080;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  caption-side: bottom;
  background-image: url("./assets/leopardskin.jpg");
  background-size: auto;
  background-repeat: repeat;
} 

table caption {
  font-family: 'Rock Salt', 'Brush Script MT', cursive;
  font-weight: bold;
  text-align: right;
  font-style: italic;
  padding-top: 10px;
  padding-right: 15px;
}

tbody tr {
  background-image: url("./assets/noise.png");
}

tbody td {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 1em 0;
}

thead, tfoot{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
} 

/* Column Widths: */
th:nth-child(1) {
  width: 30%;
}
th:nth-child(2) {
  width: 20%;
}
th:nth-child(3) {
  width: 15%;
}
th:nth-child(4) {
  width: 35%;
}

/* Body Row Stripes */
tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}
tbody tr:nth-child(even) {
  background-color: #e495e4;
}

.summary-text {
  text-align: right;
  padding-right: 1.5em;
}

.summary-total {
  text-align: left;
  padding-left: 1.5em;
}

.punk-text {
  font-family: 'Rock Salt', 'Brush Script MT', cursive;
  font-weight: bold;
  border: 2px solid #800080;
  color: #FFF;
  padding-top: 1em;
  padding-bottom: 1em;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}